/* Root Variables */
:root {
    --color1: #001c51;
    --color2: #004f7d;
    --color3: #4990b2;
    --color4: #a7d6eb;
    --color5: #faffff;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

/* Sidebar Styles */
.sidebar {
    background-color: var(--color1);
    color: var(--color5);
    min-height: 100vh;
    padding: 1rem;
    width: 250px;
    position: fixed;
    top: 56px;
    left: -250px;
    transition: left 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    z-index: 1000;
    border-radius: 0 10px 10px 0; /* Bordes redondeados */
    box-shadow: 2px 0 5px var(--shadow-color); /* Sombra */
}

.sidebar.visible {
    left: 0;
    box-shadow: 4px 0 10px var(--shadow-color); /* Sombra más pronunciada */
}

/* Sidebar Header */
.sidebar h1 {
    font-size: 1.5rem; /* Tamaño de fuente más grande */
    margin-bottom: 1.5rem; /* Más espacio debajo */
    color: var(--color5);
    text-shadow: 2px 2px 4px var(--color3); /* Sombra de texto más suave */
    text-align: center; /* Centrar el texto */
}

/* Navigation Styles */
.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 0.75rem; /* Más espacio entre elementos */
}

.sidebar nav ul li .btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
    padding: 0.75rem; /* Más espacio interno */
    color: var(--color5);
    text-decoration: none;
    background-color: transparent;
    border: none;
    white-space: nowrap;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.sidebar nav ul li .btn:hover {
    background-color: var(--color2);
    transform: translateX(5px); /* Efecto de desplazamiento */
}

/* Badge Styles */
.sidebar .badge {
    background-color: var(--color3);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px; /* Tamaño más grande */
    height: 24px;
    border-radius: 50%;
    margin-left: 8px;
    font-size: 14px; /* Fuente más grande */
    color: var(--color5);
    vertical-align: middle;
    margin-top: -10%;
    box-shadow: 0 2px 4px var(--shadow-color); /* Sombra */
}

/* New Request Button */
.sidebar .new-request-btn {
    margin-top: 1.5rem; /* Más espacio superior */
    width: 100%;
    background-color: var(--color2);
    color: var(--color5);
    border: none;
    padding: 0.75rem; /* Más espacio interno */
    font-size: 1.1rem; /* Fuente más grande */
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.sidebar .new-request-btn:hover {
    background-color: var(--color3);
    transform: scale(1.05); /* Efecto de agrandamiento */
}